*{
    margin: 0px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body.panel-body{
    background: #ffffff;
    background-image: none;
}
.login-wrapper , .forget-wrapper{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #F7FFF7;
    
   
}
.login-wrapper .login , .forget-wrapper .forget{
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12),
                    0 3px 1px -2px rgba(0, 0, 0, 0.2);
    width: 560px;
    background: #fff;
    border-radius: 6px;
    position: relative;
    padding-right: 85px;    padding-left: 85px;padding-bottom: 55px;
    padding-top: 55px;
}
.login100-form-title {
    padding-bottom: 32px;
    font-size: 30px;
    color: #555555;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    display: block;
}
.btn-admin-primary{
    font-weight: 500;
    color: #7952b3;
    border-color: #7952b3;
}
.btn-admin-primary:active{
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3;
}
.btn-admin-primary:hover{
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3;
}
.btn-admin-primary:focus{
    box-shadow: 0 0 0 3px rgba(121,82,179,.25)
}
.btn-outline-admin-primary {
    color: #1C3041;
    transition: 0.3s;
    background-color: transparent;
    background-image: none;
    border:1px solid #1C3041;
}
.btn-outline-admin-primary:hover{
    background: #1C3041;
    color: #fff;
}
.btn-outline-admin-secondary{
    color: #4ECDC4;
    transition: 0.3s;
    background-color: transparent;
    background-image: none;
    border:1px solid #4ECDC4;
}
.btn-outline-admin-secondary:hover{
    background: #4ECDC4;
    color: #fff;
}
.logo-wrapper{
    max-width: 100%;
    padding: 0px 10px;
}
.logo-wrapper img{
    margin-bottom: 20px;
    max-width: 200px;
    margin-left: 25%;
    margin-right: auto;
}
/*
admin dash
*/
.dash-wrapper{
    background: #F7FFF7;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}
.dash-wrapper .left{
    flex: 2;

}
.dash-wrapper .right{
    flex: 8;
}
.navbar{
    max-width: 100%;
    background: #fff;
    box-shadow: none !important;
    
}
.navbar .nav-link{
    color: #1C3041;
    
}
.navbar .navbar-brand{
    color: #555555;
    
}
.side-menu{
    height: 100vh;
    background: #fff;
    z-index: 998;
   overflow-x: scroll;
}
.side-menu >.nav >.nav-item >.nav-link{
    text-transform: uppercase;
    transition: 0.3s all;
    line-height: 2rem;
    font-size: 16px;
    color: #555555; 
    transition: 0.3s all;
    padding:1rem 0.8rem !important;
}
.side-menu >.nav >.nav-item >.nav-link:hover{
    background: #F7FFF7;
    color: #1C3041;

}
.side-menu-logo{
    padding: 20px 10px;
    max-width: 256px;

}
.padding-top{
    padding-top: 16px !important; 
}
.newjobform-wrapper{
   border-top: 14px solid #4ECDC4;
   padding-top: 16px;
    
}
/*
profile page
*/
.card-custom{
    background: #ffffff;
    padding: 18px 10px;
    border: 1px solid #7952b3;
    border-top: 16px solid #7952b3;
    border-radius: 4px;
}
.margin-top{
    margin-top: 10px;
}
.card-custom-pass{
    background: #ffffff;
    padding: 18px 10px;
    border: 1px solid #007bff;
    border-top: 16px solid #007bff;
    border-radius: 4px;
}
.header-text{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin: 12px 0px;
}
.hide{
    display: none;
}
.loader {
    margin: 6px;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #7952b3; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.dash .card{
    border-radius: 0;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border: 0 !important;
}
.dash .card:hover{
    box-shadow: none;
}