/*
custom Css written by Md Khalid @hackdroid

*/
/*
navbar
*/
::-moz-selection {
    background: #000;
    color: #fff; }
  
  ::selection {
    background: #000;
    color: #fff; }
.navbar{
    background: #fff;
    padding: 10px 0px;
    display: block;
    height:80px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
    position: fixed;
}

.navbar .navbar-brand img{
   max-height: 55px;
}
.navbar .navbar-nav .nav-item .nav-link{
        padding: 10px 10px;
        text-transform: uppercase;
        letter-spacing: .05em;
        color: rgba(0, 0, 0, 0.6);
        font-size: 15px;
        text-decoration: none !important; 
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: #000;
}
.home-landing{
    padding: 4.5rem 0;
    background: url(../image/hero_bg_1.jpg)no-repeat;
    background-size: cover;
    min-height: 600px;
    height: calc(100vh - 70px); 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.home-landing .home-landing-text{

    padding: 60px 0px;
    max-width: 40%;
}
.home-landing .home-landing-text .heading{
    text-align: left;
    color: #000000;
    font-weight: 300;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
.home-landing .home-landing-text .text{
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    color: #999;
    text-justify: kashida;
}
.home-landing-btn-container{
    margin-top: 80px;
    margin-bottom: 40px;
}
@media (min-width: 768px)
{
    .home-landing h1 {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.2;
    }
}

.btn-c{
    font-size: 16px;
     line-height: 1.1;
     min-width: 240px;
     padding: 15px 30px;
     border: 1px solid transparent;
     white-space: normal;
     border-radius: 4px;
     color: #fff;
     position: relative;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     transition: background-color 300ms ease-out;
     margin: 0 0 20px;
 }
 .btn-gradient{
     color: #fff;
     background: linear-gradient(to right,#f05a28 0,#e80a89 100%);
     border: 0;
 }
 .btn-gradient:hover{
 color: #fff;
 text-decoration: none !important;
 }
 .popular-cat {
     min-height: 100vh;
     background: #fff;
     padding: 4.5rem 0;
 }
 .latest-posted-job{
    min-height: 100vh;
    background: #f7f7f7;
    padding: 4rem 0;
 }
 .section-heading h2 {
    position: relative;
    display: inline-block;
}
 .section-heading h2:before, .section-heading h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #28a745;
    left: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.section-heading h2:before {
    width: 100px;
    bottom: -10px;
    left: 50%;
}
.section-heading h2:after {
    width: 80px;
    bottom: -20px;
    left: 50%;
}

.feature-item {
    color: #000000;
    background: #e6e6e6;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    display: block;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    .feature-item .icon {
      font-size: 40px;
      margin-bottom: 0px;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .feature-item h2 {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 20px;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .feature-item .counting {
      border-radius: 4px;
      display: inline-block;
      margin-bottom: 10px;
      padding: 2px 10px;
      color: #28a745;
      background: #cccccc;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .feature-item:hover {
        text-decoration: none;
      background: #28a745;
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
      .feature-item:hover .icon {
        color: #fff !important; }
      .feature-item:hover h2 {
        color: #fff; }
      .feature-item:hover .counting {
        background: #23923d;
        color: #fff; }
        .btn.pill {
            border-radius: 30px !important;
        }
        .btn-primary {
            color: #fff !important;
            background-color: #28a745;
            border-color: #28a745;
        }
        .btn-primary:hover {
            color: #fff !important;
            background-color: #218838;
            border-color: #1e7e34;
        }
        .unit-5 {
            background: url(../image/hero_1.jpg)no-repeat;
            padding-top: 5rem;
            padding-bottom: 3rem;
            background-size: cover;
            background-position: center center; }
            .unit-5.overlay {
              position: relative; }
              .unit-5.overlay::before {
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                z-index: 1;
                background: rgba(0, 0, 0, 0.5); }
            .unit-5 > .container {
              z-index: 2;
              position: relative; }
            .unit-5 h2 {
                padding: 1rem 0;
              color: #fff;
              font-size: 3rem; }
              a {
                -webkit-transition: .3s all ease;
                -o-transition: .3s all ease;
                transition: .3s all ease;
            }
            .site-section {
                padding: 3em 0; }
                @media (min-width: 768px) {
                  .site-section {
                    padding: 7em 0; } }
                .site-section.site-section-sm {
                  padding: 4em 0; }
                  .form-control {
                    height: 55px; }
                    .form-control:active, .form-control:focus {
                      border-color: #28a745; }
                    .form-control:hover, .form-control:active, .form-control:focus {
                      -webkit-box-shadow: none !important;
                      box-shadow: none !important; }
.navbar .nav-item .btn-c{
    min-width: auto;
    padding: 15px 20px;
}         
.site-blocks-cover.inner-page{
    background-image: url(../image/hero_1.jpg);
    background-position: 50% 13.6719px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}                      
.site-blocks-cover.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}
.site-blocks-cover.inner-page, .site-blocks-cover.inner-page > .container > .row {
    min-height: 400px;
    height: calc(30vh);
}
.site-blocks-cover .sub-text {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: .2em; }
  .site-blocks-cover h1 {
    font-weight: 700;
    color: #fff;
    font-size: 2rem; }
    .site-blocks-cover h1 strong {
      font-weight: 900; }
    @media (min-width: 768px) {
      .site-blocks-cover h1 {
        font-size: 4rem;
        font-weight: 300;
        line-height: 1.2; } }
  .site-blocks-cover p {
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5; }
    .site-blocks-cover p a {
      color: #fff; }
 @media(max-width:991px)
      {
        .navbar .navbar-brand img {
            max-height: 55px;
            max-width: 180px;
        }

          .navbar{
              height: auto;
              padding: 10px 20px;
          }
          .navbar .navbar-nav .nav-item .nav-link{
              text-align: center;
          }
          .navbar .navbar-nav .btn-c{
              min-width: 100%;
              margin-bottom: 10px;
          }
          .home-landing .home-landing-text {
              max-width: 100%;
              padding-bottom: 28px;
          }
          .home-landing{
              height: auto;
              padding-bottom: 1.5rem;
          }
          .home-landing-btn-container {
            padding-bottom: 0;
            margin-bottom: 0;
        }
      }